html {
  font-size: 18px;
}


body {
  font-family: Helvetica, sans-serif;
  line-height: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}


/* Header */

.header {
  background-color: black;
  color: white;
}

.siteContainer {
  max-width: 960px;
  margin: 0 auto;
}

.header .siteContainer {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.logo {
  height: 1.5rem;
  margin-right: 1rem;
}

.siteContainer span {
  font-size: 1rem;
}

/* Hero */

.hero {
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.message {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: absolute;
  margin-top: 9rem;
}

.message p {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: .25rem;
}

/* Navigation */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.mobile-nav {
  display: none;
  text-align: center;
}

/* Content */

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  width: 30%;
}

.productImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 2rem;
  height: 9rem;
}

.productImage img {
  max-width: 8rem;
}

.product span,
.mobile-product span {
  display: block;
  background-color: black;
  color: white;
  padding: .5rem 0;
  text-align: center;
}

.mobile-product {
 display: none;
 width: 45%;
}

/* Info */

.businessInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/* Footer */

.footer {
  color: white;
  background-color: black;
  padding: 5rem 0;
  margin-top: 4rem;
}

/* Media Query */

@media only screen and (max-width: 1024px) {
  nav ul {
      display: none;
    }

  .mobile-nav {
    display: block;
  }

  .product {
    display: none;
  }

  .mobile-product {
    display: block;
  }

}
