html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 2.75rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}


/* Header */

.header {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.siteContainer {
  display: flex;
  align-items: center;
  max-width: 960px;
  width: 100%;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.siteContainer img {
  height: 1.5rem;
  margin-right: 1rem;
}

.siteContainer span {
  font-size: 1rem;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  background-image: url('../images/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.message {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem
}

.message p {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: .25rem;
}
